$header-font: 'Lato-Tr', sans-serif;
$post-header-font: 'Lato-Tr', sans-serif;
$common-font: 'Lato-Tr', sans-serif;
$color-primary: #348488;
$color-secondary: #003D54;
$color-light-gray: #f9f9f9;
$shadow-standard: 0px 0px 15px rgba(0,0,0,.5);
$shadow-list-item: 0 1px 3px 1px rgba(0, 0, 0, 0.16),0 0px 0px 1px rgba(0, 0, 0, 0.06);
