@font-face {
font-family: 'Lato-Tr';
font-style: normal;
font-weight: normal;
src: local('Lato TR Regular'), url('/fonts/LatoTR-Regular.woff') format('woff');
}


@font-face {
font-family: 'Lato-Tr';
font-style: normal;
font-weight: lighter;
src: local('Lato TR Light'), url('/fonts/LatoTR-Light.woff') format('woff');
}


// @font-face {
// font-family: 'Lato-Tr';
// font-style: normal;
// font-weight: normal;
// src: local('Lato TR Hairline'), url('/fonts/LatoTR-Hairline.woff') format('woff');
// }
//
//
// @font-face {
// font-family: 'Lato-Tr';
// font-style: normal;
// font-weight: normal;
// src: local('Lato TR Black'), url('/fonts/LatoTR-Black.woff') format('woff');
// }
//
//
// @font-face {
// font-family: 'Lato-Tr';
// font-style: normal;
// font-weight: normal;
// src: local('Lato TR Light Italic'), url('/fonts/LatoTR-LightItalic.woff') format('woff');
// }
//
//
// @font-face {
// font-family: 'Lato-Tr';
// font-style: normal;
// font-weight: normal;
// src: local('Lato TR Italic'), url('/fonts/LatoTR-Italic.woff') format('woff');
// }
//
//
// @font-face {
// font-family: 'Lato-Tr';
// font-style: normal;
// font-weight: normal;
// src: local('Lato TR Hairline Italic'), url('/fonts/LatoTR-HairlineItalic.woff') format('woff');
// }
//
//
// @font-face {
// font-family: 'Lato-Tr';
// font-style: normal;
// font-weight: normal;
// src: local('Lato TR Bold Italic'), url('/fonts/LatoTR-BoldItalic.woff') format('woff');
// }
//
//
// @font-face {
// font-family: 'Lato-Tr';
// font-style: normal;
// font-weight: normal;
// src: local('Lato TR Black Italic'), url('/fonts/LatoTR-BlackItalic.woff') format('woff');
// }
//

@font-face {
font-family: 'Lato-Tr';
font-style: normal;
font-weight: bold;
src: local('Lato TR Bold'), url('/fonts/LatoTR-Bold.woff') format('woff');
}
