---
layout: default
post: true
---

{% if page.draft != true %}

  <main class="container">

    <h1>{{ page.title }}</h1>
    {% if page.subtitle != nil %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
    <time>{{ page.date | date_to_string }}</time>

    <article>
    {{ content }}
    </article>

  </main>

{% else %}
  {% include base/404.html %}

  <!-- If  javascript is enabled go to a really non-existing page to give 404 response code instead of 200 -->
  <!-- It is assumed that there is no "page-not-found" path in the site and it really gives 404 -->
  <script type="text/javascript">
    window.location.href = '/page-not-found';
  </script>
{% endif %}
